<navs class="menu-links">

    <ul class="nav-links">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'rides' %}">trips</a></li>

        {% if user.is_authenticated %}
        <li><a href="{% url 'addride' %}">addrides</a></li>

        <li><a href="javascript:{document.getElementById('logout').submit()}" >logout</a></li>
        <form action="{% url 'logout' %}" method="POST" id="logout">
            {% csrf_token %}
            <input type="hidden">
        </form>
        
        {% else %}
        <li><a href="{% url 'login' %}">login</a></li>
        <li><a href="{% url 'register' %}">register</a></li>

        {% endif %}


    </ul>

</navs>