{% extends 'base.html' %}
{% load static %}

{% block content %}

<main style="margin-top: 80px; overflow: hidden;">


    <div class="section"></div>

    <h5 class="grey-text center">Add a cab service</h5>
    
    <div class="section"></div>



    <div class="container ">
        {% include 'partials/_alert.html' %}

        <div class="z-depth-1 grey lighten-4 row" style="padding: 20px;">

            <form action="{% url 'addride' %}" class="col s12" method="post">
                {% csrf_token %}


                <div class="row">
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">local_atm</i>
                        <input name="cost" id="cost" type="number" required>
                        <label for="cost">fare cost</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <input name="message" id="icon_prefix2" type="text" required>
                        <label for="icon_prefix2">Message</label>
                    </div>
                </div>

                <div class="row">

                    <div class="input-field col s12 m6 text-darken ">
                        <select name="vehicle" required>
                            <option value="" disabled selected>Choose your vehicle</option>
                            <option class="text-darken" value="directions_bike ">2 wheeler</option>
                            <option class="text-darken" value="time_to_leave">4 wheeler</option>
                        </select>
                    </div>

                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">local_phone</i>
                        <input name="tel" id="icon_prefix3" type="tel" required>
                        <label for="icon_prefix3">Phone number</label>
                    </div>


                </div>

                <div class="row">
                    <br>
                    <ul class="collapsible expandable">
                        <li class="active">
                            <div class="collapsible-header">
                                <i class="material-icons">my_location</i>
                                select start location
                                <span class="badge" id="loc1">0,0</span></div>
                            <div class="collapsible-body p-0" style="display: inline;">
                                <div class="geocoder" id="geocoder1"></div>
                                <div id='map1' style='width: 100%; height: 300px;'></div>
                                <input type="hidden" id="location1" name="location1" required>
                                <input type="hidden" id="locationname1" name="locationname1" required>

                            </div>
                        </li>
                        <li class="active">
                            <div class="collapsible-header">
                                <i class="material-icons">place</i>
                                select destination location
                                <span class="badge" id="loc2">0,0</span></div>
                            <div class="collapsible-body p-0" style="display: inline;">
                                <div class="geocoder" id="geocoder2"></div>
                                <div id='map2' style='width: 100%; height: 300px;'></div>
                                <input type="hidden" id="location2" name="location2" required>
                                <input type="hidden" id="locationname2" name="locationname2" required>
                            </div>
                        </li>
                    </ul>



                    <div class="col s6">
                        <input type="text" class="datepicker" name="datetime" placeholder="Enter date of the trip"
                            required>

                    </div>
                    <div class="col s6">
                        <input type="text" class="timepicker" name="time" placeholder="Enter time for the trip"
                            required>

                    </div>
                </div>
                <br />

                <div class='row'>
                    <button type='submit' name='btn_login'
                        class='col s12 btn btn-large waves-effect  grey darken-3 white-text'>Add to the map</button>
                </div>
            </form>
        </div>



</main>






<script>
    // materializecss init
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, {
            accordion: false
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(elems, {
            'format': 'dd/mm/yyyy',
            'minDate': new Date()
        });


        var elems = document.querySelectorAll('.timepicker');
        var instances = M.Timepicker.init(elems, {
            'defaultTime': 'Today'
        });

    });


    // materializecss init






    var data1;
    var data2;

    mapboxgl.accessToken = 'pk.eyJ1Ijoiam9raXNhIiwiYSI6ImNrdjlnZ3VzbTI5ZWMyb3MzODdjZHJtdWoifQ.SnSidhgmX2ScTl7ej7--rQ';
    const map1 = new mapboxgl.Map({
        container: 'map1',
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
        center: [73.11070941951743, 19.00211634937007], // starting position [lng, lat]
        zoom: 10 // starting zoom

    });
    // Add the control to the map.
    var geocoder1 = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl
    });

    geocoder1.on('result', (event) => {
        data1 = event.result        
        udpate1(event.result)
    });

    document.getElementById('geocoder1').appendChild(geocoder1.onAdd(map1));

    // map1.on('click', (e) => {
    //     const lnglat = e.lngLat.wrap()
    //     geocoder1.mapMarker.setLngLat([lnglat['lng'], lnglat['lat']])
    //     udpate1([lnglat['lng'], lnglat['lat']])
    // })
    var location1 = document.getElementById('location1')
    var locationname1 =document.getElementById('locationname1')
    
    const udpate1 = (data) => {
        console.log(data);
        location1.value = data['center']
        locationname1.value = data['place_name_en-US']
        document.getElementById('loc1').innerHTML = `[${Number(data['center'][0]).toFixed(3)},${Number(data['center'][1]).toFixed(3)}]`
    }

    // https://api.mapbox.com/geocoding/v5/mapbox.places/starbucks.json?bbox=-77.083056,38.908611,-76.997778,38.959167&access_token=pk.eyJ1Ijoiam9raXNhIiwiYSI6ImNrdjlnZ3VzbTI5ZWMyb3MzODdjZHJtdWoifQ.SnSidhgmX2ScTl7ej7--rQ



    const map2 = new mapboxgl.Map({
        container: 'map2',
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
        center: [73.11070941951743, 19.00211634937007], // starting position [lng, lat]
        zoom: 10 // starting zoom
    });
    // Add the control to the map.
    var geocoder2 = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl
    });

    geocoder2.on('result', (event) => {
        
        console.log(JSON.stringify(event.result, null, 2))
        udpate2(event.result)
    });
    // map work
    document.getElementById('geocoder2').appendChild(geocoder2.onAdd(map2));
    var location2 = document.getElementById('location2')
    var locationname2 =document.getElementById('locationname2')

    // map2.on('click', (e) => {
    //     const lnglat = e.lngLat.wrap()
    //     geocoder2.mapMarker.setLngLat([lnglat['lng'], lnglat['lat']])
    //     udpate2([lnglat['lng'], lnglat['lat']])
    // })
    const udpate2 = (data) => {
        location2.value = data['center']
        locationname2.value = data['place_name_en-US']
        document.getElementById('loc2').innerHTML = `[${Number(data['center'][0]).toFixed(3)},${Number(data['center'][1]).toFixed(3)}]`
    }
</script>


<!-- style to overwrite input -->
<style>
    .geocoder {
        height: 0;
    }

    /* 
    /* Basics */
    .mapboxgl-ctrl-geocoder,
    .mapboxgl-ctrl-geocoder *,
    .mapboxgl-ctrl-geocoder *:after,
    .mapboxgl-ctrl-geocoder *:before {
        box-sizing: border-box !important;
        margin: 0 auto;
    }

    */ .mapboxgl-ctrl-geocoder {
        font-size: 18px !important;
        line-height: 24px !important;
        font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
        position: relative !important;
        background-color: #fff !important;
        width: 100% !important;
        min-width: 240px !important;
        z-index: 1 !important;
        border-radius: 4px !important;
        transition: width .25s, min-width .25s !important;
    }

    .mapboxgl-ctrl-geocoder--input {
        font: inherit !important;
        width: 100% !important;
        border: 0 !important;
        background-color: transparent !important;
        margin: 0 !important;
        height: 50px !important;
        color: #382222 !important;
        /* fallback */
        color: rgba(0, 0, 0, 0.75) !important;
        padding: 6px 45px !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        overflow: hidden !important;
    }

    .mapboxgl-ctrl-geocoder--input::-ms-clear {
        display: none !important;
    }

    .mapboxgl-ctrl-geocoder--input:focus {
        color: #404040 !important;
        /* fallback */
        color: rgba(0, 0, 0, 0.75) !important;
        outline: 0 !important;
        box-shadow: none !important;
        outline: thin dotted !important;
    }

    .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right>* {
        z-index: 2 !important;
        position: absolute !important;
        right: 8px !important;
        top: 7px !important;
        display: none !important;
    }

    .mapboxgl-ctrl-geocoder,
    .mapboxgl-ctrl-geocoder .suggestions {
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1) !important;
    }

    /* Collapsed */
    .mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
        width: 50px !important;
        min-width: 50px !important;
        transition: width .25s, min-width .25s !important;
    }

    /* Suggestions */
    .mapboxgl-ctrl-geocoder .suggestions {
        background-color: #fff !important;
        border-radius: 4px !important;
        left: 0 !important;
        list-style: none !important;
        margin: 0 !important;
        padding: 0 !important;
        position: absolute !important;
        width: 100% !important;
        top: 110% !important;
        /* fallback */
        top: calc(100% + 6px) !important;
        z-index: 1000 !important;
        overflow: hidden !important;
        font-size: 15px !important;
    }

    .mapboxgl-ctrl-bottom-left .suggestions,
    .mapboxgl-ctrl-bottom-right .suggestions {
        top: auto !important;
        bottom: 100% !important;
    }

    .mapboxgl-ctrl-geocoder .suggestions>li>a {
        cursor: default !important;
        display: block !important;
        padding: 6px 12px !important;
        color: #404040 !important;
    }

    .mapboxgl-ctrl-geocoder .suggestions>.active>a,
    .mapboxgl-ctrl-geocoder .suggestions>li>a:hover {
        color: #404040 !important;
        background-color: #f3f3f3 !important;
        text-decoration: none !important;
        cursor: pointer !important;
    }

    .mapboxgl-ctrl-geocoder--suggestion-title {
        font-weight: bold !important;
    }

    .mapboxgl-ctrl-geocoder--suggestion-title,
    .mapboxgl-ctrl-geocoder--suggestion-address {
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        white-space: nowrap !important;
    }

    /* Icons */
    .mapboxgl-ctrl-geocoder--icon {
        display: inline-block !important;
        vertical-align: middle !important;
        fill: #757575 !important;
        top: 15px !important;
    }

    .mapboxgl-ctrl-geocoder--icon-search {
        position: absolute !important;
        top: 13px !important;
        left: 12px !important;
        width: 23px !important;
        height: 23px !important;
    }

    .mapboxgl-ctrl-geocoder--button {
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
        cursor: pointer !important;
        background: #fff !important;
        line-height: 1 !important;
    }

    .mapboxgl-ctrl-geocoder--icon-close {
        width: 20px !important;
        height: 20px !important;
        margin-top: 8px !important;
        margin-right: 3px !important;
    }

    .mapboxgl-ctrl-geocoder--button:hover .mapboxgl-ctrl-geocoder--icon-close {
        fill: #909090 !important;
    }

    .mapboxgl-ctrl-geocoder--icon-loading {
        width: 26px !important;
        height: 26px !important;
        margin-top: 5px !important;
        margin-right: 0px !important;
        -moz-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95) !important;
        -webkit-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95) !important;
        animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95) !important;
    }

    /* Animation */
    @-webkit-keyframes rotate {
        from {
            -webkit-transform: rotate(0) !important;
            transform: rotate(0) !important;
        }

        to {
            -webkit-transform: rotate(360deg) !important;
            transform: rotate(360deg) !important;
        }
    }

    @keyframes rotate {
        from {
            -webkit-transform: rotate(0) !important;
            transform: rotate(0) !important;
        }

        to {
            -webkit-transform: rotate(360deg) !important;
            transform: rotate(360deg) !important;
        }
    }

    /* Media queries*/
    @media screen and (min-width: 640px) {

        .mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
            width: 36px !important;
            min-width: 36px !important;
        }

        .mapboxgl-ctrl-geocoder {
            width: 33.3333% !important;
            font-size: 15px !important;
            line-height: 20px !important;
            max-width: 360px !important;
        }

        .mapboxgl-ctrl-geocoder .suggestions {
            font-size: 13px !important;
        }

        .mapboxgl-ctrl-geocoder--icon {
            top: 8px !important;
        }

        .mapboxgl-ctrl-geocoder--icon-close {
            width: 16px !important;
            height: 16px !important;
            margin-top: 3px !important;
            margin-right: 0 !important;
        }

        .mapboxgl-ctrl-geocoder--icon-search {
            left: 7px !important;
            width: 20px !important;
            height: 20px !important;
        }

        .mapboxgl-ctrl-geocoder--input {
            height: 36px !important;
            padding: 6px 35px !important;
        }

        .mapboxgl-ctrl-geocoder--icon-loading {
            width: 26px !important;
            height: 26px !important;
            margin-top: -2px !important;
            margin-right: -5px !important;
        }

        .mapbox-gl-geocoder--error {
            color: #909090 !important;
            padding: 6px 12px !important;
            font-size: 16px !important;
            text-align: center
        }

    }
</style>

{% endblock content %}